/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/** end reset css**/
body {
	max-width: 1140px;
	margin:auto;
	font-family: 'Work Sans' ;
	font-size: 14px;
}
header {
	display: flex;
	justify-content: space-between;
	margin: 50px 0
}
section {
	margin: 50px 0
}

h1{
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: #B1663C
}

h1 > span {
	font-family: 'Work Sans';
	font-size:10px;
	letter-spacing: 0.1em;
;
}

h2{
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: #1D6154
}
nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;

}
nav li {
	padding: 0 10px;
	font-size: 1.2em;
}

li:hover {
	color: #B1663C;
}
#introduction {
	display: flex;
	align-items: center;
}
#introduction figure {
	flex: 1
}
#introduction img {
	display: block;
	margin: auto;
	width: 80%;
}

#introduction article {
	flex: 1
}
#introduction h2 {
	margin-bottom: 1em;
}

#introduction p {
	margin-bottom: 0.5em;
}
#portfolio h2 {
	text-align: center;
	margin-bottom: 1em;
}
.gallery {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}

.gallery img {
	width: 100%;

}
#contact {
	width: 50%;
margin: auto;
}
#contact > * {
	text-align: center;

}
#contact h2{
	margin-bottom: 20px;
}
#contact form {
	text-align: left;
	margin-top:30px;
	display: flex;
	flex-direction: column;
}

#contact input {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
#contact label {
	margin: 2em 0 1em 0;
}
#contact textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

input[type="submit"]{
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin : 2em auto ;
	width: 180px;
	text-align: center;
	border-radius: 60px ;
}

footer nav ul {
	display: flex;
	justify-content: flex-end;
	margin: 2em
}
.filtres {
	display: flex;
	justify-content: center;	
}
.btn ,.btnconnect {
	border-radius: 20px;
	border-color: green;
	color: green;
	margin: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-right: 20px;
	padding-left: 20px;

}
.btn:hover ,.btn1:hover ,.btn2:hover ,.btn3:hover {
	color: white;
	background-color: green;
}
figure {
	display: flex;
	flex-direction: column;
}
a {
	text-decoration: none;
	color: black;
}


/* style page login */
 .displayNone {
	display: none;
}

.displayBlock {
	display: block;
}

.body2 {
	padding: 30px;
	height: 650px;
}

.formlog {
	display: flex;
	flex-direction: column;
	align-items: center;
}

#login h2 {
	text-align: center;
	margin-bottom: 1em;
}

#login a {
	display: flex;
	justify-content: center;
	text-decoration: underline;
}

.footer2 {
	margin-top: 250px;
	display: flex;
	justify-content: flex-end;
}
.blocmail , .blocpassword{
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	margin-bottom: 20px;
}

#mail , #password {
	height: 30px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

.blocmail input , .blocpassword input {
	width: 300px;
}

.logout{
	display: none;
}

.login{
	display: block
}
.error {
	color: red;
	text-decoration: underline;
}

/*style modale*/
/*modal galerie*/


.btn_nodal {
	border: none;
	font-size: 1em;
}
.overlay {
	display: none;
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background-color: rgba(0,0,0,0.5);
	
}
.modal {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 350px;
	height: 500px;
	background-color: white;
	display: none;
	padding-top: 50px;
	padding-bottom: 50px;
	padding-left: 100px;
	padding-right: 100px;
	border-radius: 20px;
}
.btn_close {
	border: none;
	font-size: 1.5em;
	position: absolute;
	top: 14px;
	right: 14px;
	background-color: white;
}

.modal_header {
	display: flex;
	justify-content: center;
	align-items: center;
	padding-bottom: 40px;
}

.modal_header h1 {
	font-family: 'Courier New', Courier, monospace;
	font-size: 1.8em;
	color: black;
}

.modal_body {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	grid-template-rows: auto;
	grid-column-gap: 10px;
	grid-row-gap: 25px;
	position: relative;
}

.modal_body article {
	position: relative;
}

.modal_body img {
	width: 100%;
	object-fit: cover;
	z-index: 2;
}
.corbeille {
	position: absolute;
	top: 4px;
	right: 4px;
	z-index: 1;
	width: 15px;
	height: 15px;
	color: white;
	background-color: black;
	border: none;
	font-size: 0.6em;
}
.modal_footer {
	display: flex;
	justify-content: center;
	padding-top: 40px;
	margin-top: 60px;
	border-top: #1D6154 0.5px solid;
	
}

.btn_ajout_photo {
	border: none;
	border-radius: 20px;
	font-size: 1em;
	background-color:green;
	color: white;
	padding: 10px;
	padding-left: 50px;
	padding-right: 50px;
}
.modal_body i {
	color: white;
	position: relative;
	right: 2px;
}

/*modal ajout photo*/

.overlay2 {
	display: none;
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background-color: rgba(0,0,0,0.5);
	
}
.modal2 {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 350px;
	height: 500px;
	background-color: white;
	display: none;
	padding-top: 50px;
	padding-bottom: 50px;
	padding-left: 100px;
	padding-right: 100px;
	border-radius: 20px;
}

.btn_close2 {
	border: none;
	font-size: 1.5em;
	position: absolute;
	top: 14px;
	right: 14px;
	background-color: white;
}

.modal2_header {
	display: flex;
	justify-content: center;
	align-items: center;
	padding-bottom: 40px;
}

.modal2_header h1 {
	font-family: 'Courier New', Courier, monospace;
	font-size: 1.8em;
	color: black;
}

